# Case Study-2 Ensemble Learning

In [1]:
import pandas as pd
import numpy as np

## Data Fetching

In [2]:
df = pd.read_csv("/content/salary.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

## Data Processing

In [4]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64

In [5]:
df['workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [6]:
df['education'].unique()

array([' Bachelors', ' HS-grad', ' 11th', ' Masters', ' 9th',
       ' Some-college', ' Assoc-acdm', ' Assoc-voc', ' 7th-8th',
       ' Doctorate', ' Prof-school', ' 5th-6th', ' 10th', ' 1st-4th',
       ' Preschool', ' 12th'], dtype=object)

In [7]:
df['marital-status'].unique()

array([' Never-married', ' Married-civ-spouse', ' Divorced',
       ' Married-spouse-absent', ' Separated', ' Married-AF-spouse',
       ' Widowed'], dtype=object)

In [8]:
df['occupation'].unique()

array([' Adm-clerical', ' Exec-managerial', ' Handlers-cleaners',
       ' Prof-specialty', ' Other-service', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', ' ?', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [9]:
df['relationship'].unique()

array([' Not-in-family', ' Husband', ' Wife', ' Own-child', ' Unmarried',
       ' Other-relative'], dtype=object)

In [10]:
df['race'].unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

In [11]:
df['sex'].unique()

array([' Male', ' Female'], dtype=object)

In [12]:
df['native-country'].unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [13]:
for column_name in df.columns:
    count = (df[column_name] == ' ?').sum()
    print(column_name,count)

age 0
workclass 1836
fnlwgt 0
education 0
education-num 0
marital-status 0
occupation 1843
relationship 0
race 0
sex 0
capital-gain 0
capital-loss 0
hours-per-week 0
native-country 583
salary 0

In [14]:
df = df.drop(index=df.loc[df['native-country'] == ' ?'].index)

In [15]:
for column_name in df.columns:
    count = (df[column_name] == ' ?').sum()
    print(column_name,count)

age 0
workclass 1809
fnlwgt 0
education 0
education-num 0
marital-status 0
occupation 1816
relationship 0
race 0
sex 0
capital-gain 0
capital-loss 0
hours-per-week 0
native-country 0
salary 0

In [16]:
df = df.drop(index=df.loc[df['workclass'] == ' ?'].index)

In [17]:
for column_name in df.columns:
    count = (df[column_name] == ' ?').sum()
    print(column_name,count)

age 0
workclass 0
fnlwgt 0
education 0
education-num 0
marital-status 0
occupation 7
relationship 0
race 0
sex 0
capital-gain 0
capital-loss 0
hours-per-week 0
native-country 0
salary 0

In [18]:
df = df.drop(index=df.loc[df['occupation'] == ' ?'].index)

In [19]:
for column_name in df.columns:
    count = (df[column_name] == ' ?').sum()
    print(column_name,count)

age 0
workclass 0
fnlwgt 0
education 0
education-num 0
marital-status 0
occupation 0
relationship 0
race 0
sex 0
capital-gain 0
capital-loss 0
hours-per-week 0
native-country 0
salary 0

## Encoding

In [20]:
data_oneHot = pd.get_dummies(df["sex"])
df = df.drop(['sex'], axis=1)
df = df.join(data_oneHot)

In [21]:
data_oneHot = pd.get_dummies(df["relationship"])
df = df.drop(['relationship'], axis=1)
df = df.join(data_oneHot)

In [22]:
data_oneHot = pd.get_dummies(df["race"])
df = df.drop(['race'], axis=1)
df = df.join(data_oneHot)

In [23]:
from sklearn.preprocessing import LabelEncoder
df[['workclass','education',
    'marital-status','occupation',
    'native-country']] = df[['workclass','education',
                             'marital-status','occupation',
                             'native-country']].apply(LabelEncoder().fit_transform)

In [24]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,capital-gain,capital-loss,hours-per-week,...,Not-in-family,Other-relative,Own-child,Unmarried,Wife,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,39,5,77516,9,13,4,0,2174,0,40,...,1,0,0,0,0,0,0,0,0,1
1,50,4,83311,9,13,2,3,0,0,13,...,0,0,0,0,0,0,0,0,0,1
2,38,2,215646,11,9,0,5,0,0,40,...,1,0,0,0,0,0,0,0,0,1
3,53,2,234721,1,7,2,5,0,0,40,...,0,0,0,0,0,0,0,1,0,0
4,28,2,338409,9,13,2,9,0,0,40,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,2,257302,7,12,2,12,0,0,38,...,0,0,0,0,1,0,0,0,0,1
32557,40,2,154374,11,9,2,6,0,0,40,...,0,0,0,0,0,0,0,0,0,1
32558,58,2,151910,11,9,6,0,0,0,40,...,0,0,0,1,0,0,0,0,0,1
32559,22,2,201490,11,9,4,0,0,0,20,...,0,0,1,0,0,0,0,0,0,1
32560,52,3,287927,11,9,2,3,15024,0,40,...,0,0,0,0,1,0,0,0,0,1

# Classifiers

In [25]:
X = df.drop('salary',axis=1)
Y = df.salary

In [26]:
X

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,capital-gain,capital-loss,hours-per-week,...,Not-in-family,Other-relative,Own-child,Unmarried,Wife,Amer-Indian-Eskimo,Asian-Pac-Islander,Black,Other,White
0,39,5,77516,9,13,4,0,2174,0,40,...,1,0,0,0,0,0,0,0,0,1
1,50,4,83311,9,13,2,3,0,0,13,...,0,0,0,0,0,0,0,0,0,1
2,38,2,215646,11,9,0,5,0,0,40,...,1,0,0,0,0,0,0,0,0,1
3,53,2,234721,1,7,2,5,0,0,40,...,0,0,0,0,0,0,0,1,0,0
4,28,2,338409,9,13,2,9,0,0,40,...,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,2,257302,7,12,2,12,0,0,38,...,0,0,0,0,1,0,0,0,0,1
32557,40,2,154374,11,9,2,6,0,0,40,...,0,0,0,0,0,0,0,0,0,1
32558,58,2,151910,11,9,6,0,0,0,40,...,0,0,0,1,0,0,0,0,0,1
32559,22,2,201490,11,9,4,0,0,0,20,...,0,0,1,0,0,0,0,0,0,1
32560,52,3,287927,11,9,2,3,15024,0,40,...,0,0,0,0,1,0,0,0,0,1

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,random_state = 1,test_size = 0.2)

#Decision Tree

In [28]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,Y_train)

In [29]:
y_pred = clf.predict(X_test)

In [30]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(Y_test, y_pred))

Accuracy: 0.8000994530084535

# Bagging Classifier

In [31]:
from sklearn.ensemble import BaggingClassifier
tree = DecisionTreeClassifier()
bagging_clf = BaggingClassifier(base_estimator=tree, n_estimators=90, random_state=40)

In [32]:
bagging_clf.fit(X_train, Y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(), n_estimators=90,
                  random_state=40)

In [33]:
y_pred = bagging_clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(Y_test, y_pred))

Accuracy: 0.8461793469252444

# Random forest

In [34]:
from sklearn.ensemble import RandomForestClassifier
rf_clf = RandomForestClassifier(random_state=42, n_estimators=100)
rf_clf.fit(X_train, Y_train)

RandomForestClassifier(random_state=42)

In [35]:
y_pred = rf_clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(Y_test, y_pred))

Accuracy: 0.8506547323056523

# AdaBoostClassifier

In [38]:
from sklearn.ensemble import AdaBoostClassifier
ada_boost_clf = AdaBoostClassifier(n_estimators=100)
ada_boost_clf.fit(X_train, Y_train)
y_pred = ada_boost_clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(Y_test, y_pred))

Accuracy: 0.860765788165092